/*myCoupons.html  优惠券页面样式*/

.coupons_btn{
	font-size: 14px !important;
	border: none;
	float: right
}

.coupons_sTag{
	display: flex;
	width: 100%;
	height: 46px;
	position: relative;
}

.coupons-s_tag{
	flex: 1;
	text-align: center;
}

#add_coupons_btn .font16{
	font-size: 16px;
}

#add_coupons_btn .add__border{
	border-top:1px solid #DDDDDD;
}


/*优惠券分页面  子页面样式   Coupons_Not.html  Coupons_Over.html  Coupons_Done.html*/
.coupons-item{
	height: 90px;
	margin-top: 5px;
}

.cardbg,.cardbgun{
	float: left;
	width: 35%;
	height: 90px;
	margin-top: -18px;
	margin-left: -16px;
	text-align: center;
}

.cardbg>span,.cardbgun>span{
	float: left;
	margin-top: 25px;
	width: 100%;
}

.coupons-item__offsetInterest{
	color:white;
	font-size: 30px;
}

.coupons-item__offsetInterest span{
	font-size: 14px;
	color: white;	
}

.placeholder__8px{
	height: 8px;
}

.coupons-item__couponNameLeft{
	color: white;
	font-size: 11px;
}

.coupons-item__limitedPosition-not{
	color: #282828;
	font-size: 10px;
	float: right;
	margin-top: -8px;
}

.coupons-item__limitedPosition{
	font-size: 10px;
	float: right;
	margin-top: -8px;
}

.coupons-item_title-not,.coupons-item_title{
	float: right; 
	height: 30px;
	margin-top: -8px;
	margin-right: 10%;
}

.coupons-item_title>strong{
	color: rgba(16, 3, 10, 0.39);
	font-size: 17px;
}

.coupons-item_title-not>strong{
	color: rgba(253, 5, 62, 0.82);
	font-size: 17px;
}

.coupons-explain_box-not,.coupons-explain_box{
	float: right;
	margin-right: 17%;
	margin-top: 3px;
}

.coupons-explain_box-not a{
	font-size: 11px;
	color: #282828;
}

.coupons-explain_box a{
	font-size: 11px;
}

.text_center{
	text-align: center;
}

.right-img{
	z-index: 100;
	position: absolute;
	margin-top: 30px;
	float: right;
	margin-left: 56%;
}

.right-img>.icon{
	font-size: 46px;
}


/*ticketUsetext.html 说明页面样式*/
#list_font-box .font-14{
	font-size: 14px;
}



/*getActivityCode.html  添加优惠券页面样式*/
.addActivityCode{
	background: #fff3e2;
}

.addActivityCode .list{
	width: 100%;
	left: 15%;
	top: 0%;
}

.addActivityCode .list>.item-input{
	height: 60px;
	width: 70%;
	border-radius: 20px;
}

.addActivityCode .padding>button{
	border-radius: 10px;
	width: 70%;
	left: 15%;
}

