
<ion-view view-title="我的优惠券" cache-view="false"  can-swipe-back="false">
	<!--<link rel="stylesheet" type="text/css" href="templates/user/Coupons/coupons.css"/>-->

  <ion-header-bar align-title="center" class="bar-light">
    <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>
    <h2 class="title">我的优惠券</h2>
    <button class="button coupons_btn" ng-click="lookusetext()">使用说明</button>
  </ion-header-bar>


  <ion-content  >


    <div class="coupons_sTag" >
      <div id="boxstext" ng-repeat="d in tabNames" class="tab_default coupons-s_tag"  ng-click="activeSlide($index)" ng-class="slectIndex==$index ? 'tab_select' : '' "  onmouseover="this.style.color='#4777e3'" onmouseout="this.style.color='#2f2f2f'">
        {{d}}
      </div>
    </div>


  <div ng-include="pages[slectIndex]"></div>


  </ion-content>
	<ion-footer-bar align-title="center" class="bar-light" id="add_coupons_btn">
		<div class="text_center" ng-click="getActivityCode()">
		<h2 class="title add__border font16">
			<i class="ion-plus font16"></i>
			领取优惠券
		</h2>
		</div>
	</ion-footer-bar>
</ion-view>

