<ion-view view-title="消息中心"  can-swipe-back="false">
	<ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>
        <h2 class="title">通知提示</h2>
    </ion-header-bar>

	<ion-content class="bg-gray pt-s" >
		      <div class="list">
		        <a class="item item-avatar" href="#/tips">
		          <img src="../img/tips.png">
		          <h2>通知提示</h2>
		          <p>查看借款、还款等提醒消息</p>
		        </a>
            <!--<a class="item item-avatar" >-->
              <!--<img src="../img/tips.png">-->
              <!--<h2>优惠活动</h2>-->
              <!--<p>最新优惠活动，不要错过哦</p>-->
            <!--</a>-->
            <!--<a class="item item-avatar" >-->
              <!--<img src="../img/tips.png">-->
              <!--<h2>卡券消息</h2>-->
              <!--<p>查看最新卡券福利发放消息</p>-->
            <!--</a>-->
            <!--<a class="item item-avatar" >-->
              <!--<img src="../img/tips.png">-->
              <!--<h2>专属推荐</h2>-->
              <!--<p>已为您定制了独享优惠产品</p>-->
            <!--</a>-->
		    </div>
		<!-- <p class="btn"><button class="button button-positive ">一键读取</button></p> -->
	</ion-content>
</ion-view>
