<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<div class="list">-->
<!--<ion-item class="item">-->
  <!--账户余额 10000元-->
<!--</ion-item>-->

<!--<label class="item item-input">-->
  <!--<span class="input-label font-13">提现金额</span>-->
  <!--<input type="text" placeholder="请输入金额"   style="background-color: white">-->
<!--</label>-->
  <!---->
  <!--<ion-item  class="item item-icon-right" style="font-size: 14px" ng-click="toBank()">-->
    <!--到账银行卡-->
    <!--<a style="float: right;color:rgba(57, 127, 245, 0.94) " ng-class="onebank.str !='选择银行卡' ?  'textcolor' : '' ">{{onebank.str}}</a>-->
    <!--<i class="icon ion-ios-arrow-right " style="color:  rgba(57, 127, 245, 0.94)" ></i>-->
  <!--</ion-item>-->

<!--&lt;!&ndash;<ion-item  class=" item item-inupt" style="height: 40px;line-height: 10px;background-color: white">&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;字段{{x.field_code}}: &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;单据状态:&ndash;&gt;-->
  <!--&lt;!&ndash;<input class="inputholder"  name="user"  style="width: 65%;font-size:14px;border: none;background-color: rgba(0,0,0,0);margin-top: -9px" placeholder={{x.status}} ng-model="F.status"  ng-readonly="true">&ndash;&gt;-->
<!--&lt;!&ndash;</ion-item>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="list list-inset">&ndash;&gt;-->

  <!--&lt;!&ndash;姓名，身份证号，电话，所属商户，所属门店，&ndash;&gt;-->
  <!--&lt;!&ndash;<label class="item item-input">&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="input-label font-13">提现金额</span><br>&ndash;&gt;-->
    <!--&lt;!&ndash;<span>￥</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" placeholder="请输入金额"   style="background-color: white"><br>&ndash;&gt;-->
    <!--&lt;!&ndash;<span style="font-size: 10px">明天24小时前到账</span>&ndash;&gt;-->
  <!--&lt;!&ndash;</label>&ndash;&gt;-->

  <!--&lt;!&ndash;<ion-item class="item" >&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="input-label font-13" style="background-color: red"> 提现金额</span><br>&ndash;&gt;-->
    <!--&lt;!&ndash;<span style="float: left;height: 50px;font-size: 20px;line-height: 50px">￥</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" placeholder="请输入金额"   style="height: 50px;font-size: 20px"><br>&ndash;&gt;-->
    <!--&lt;!&ndash;<p style="font-size: 10px;text-align: center">明天24小时前到账</p>&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->

  <!--&lt;!&ndash;<label class="item item-input">&ndash;&gt;-->
     <!--&lt;!&ndash;<span>￥</span>&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="text" placeholder="请输入金额"   style="background-color: white">&ndash;&gt;-->
  <!--&lt;!&ndash;</label>&ndash;&gt;-->
  <!--&lt;!&ndash;<label class="item">&ndash;&gt;-->
    <!--&lt;!&ndash;<span>明天24小时前到账</span>&ndash;&gt;-->

  <!--&lt;!&ndash;</label>&ndash;&gt;-->

  <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="padding" style="margin-top: 20px">-->
<!--<button class="button button-block button-positive" >立即提现</button>-->
<!--</div>-->
<!--</div>-->


</body>
</html>
