<ion-view view-title="我的账户"  can-swipe-back="false" cache-view="false">
	<link rel="stylesheet" type="text/css" href="templates/user/account/myAccount.css"/>
  <ion-header-bar align-title="center" class="bar-light">
    <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>
    <h2 class="title">我的账户</h2>
  </ion-header-bar>
  <ion-content >



    <div class="head-label">
      <div id="boxstext" ng-repeat="d in tabNames" class="tab_default label-repeat"  ng-click="activeSlide($index)" ng-class="slectIndex==$index ? 'tab_select' : '' "  onmouseover="this.style.color='#4777e3'" onmouseout="this.style.color='#2f2f2f'">
        {{d}}
      </div>
    </div>

    <div ng-include="pages[slectIndex]" ></div>

  </ion-content>
</ion-view>
