<ion-view view-title="好友邀请"  can-swipe-back="false">
<link rel="stylesheet" type="text/css" href="templates/user/share/share.css" />
  <ion-header-bar align-title="center" class="bar-light">
    <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.index','true')"></i>
    <h2 class="title">好友邀请</h2>
  </ion-header-bar>
<ion-content class="user bg-gray">

<div  class="rPosition">

<div class="list requestList_style" id="oldcontent">

  <img id="invite_img" src="img/new/friendr_requests_IMG.jpg" ng-click="sharetofriend()">

<br>
  <br>
  <p class="invite-p" ng-click="golookrecord()">邀请记录</p>

  <button id="hongbaobtn" class="button" ng-click="go_myShare()">我的红包</button>

   <p></p>

  <p class="inviteCode_S" >邀请码  {{pInviteCode}}</p>
  <br>
  <br>

</div>

  <div class="shareDiv" ng-click="newcontent()" ng-if="newcontentview">
    <img src="img/new/rightup.png" class="shareImg">
    <p class="shareguidetxt" >右上角分享有现金，快去点!</p>
  </div>

</div>
  </ion-content>


</ion-view>


