/*friendpartIn.html  文件样式*/

.invite_Code{
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
	color: #3e3e3e;
}

.name-marginTop3{
	margin-top: 3px;
}

.img-style{
	width: 100%;
	height: 150px;
}


/*myShar.html 样式*/

.description-btn{
	font-size: 16px;
	border: none;
	float: right;
}

.aStyle{
	float: right;
	color: rgba(57,127,245,0.94);
}

.iColor{
	color: rgba(57,127,245,0.94);
}


/*friendrRequests.html 样式*/

.rPosition{
	z-index: 1;
	position: relative;
}

.requestList_style{
	text-align: center;
	width: 100%;
	height: 100%;
}

.invite-p{
	color: rgba(229, 151, 14, 0.62);
	font-size: 16px;
}

#hongbaobtn{
	height: 50px;
	width: 80%;
	color: white;
}

.inviteCode_S{
	color: rgba(229, 151, 14, 0.62);
	font-size: 17px;
	margin-bottom: 20px;
}

.shareDiv{
	height: 100%;
	width: 100%;
	z-index: 100;
	position: absolute;
	top: 0;
	text-align: center;
	background-color: white;
}

.shareImg{
	width: 50%;
	float: right;
}

.shareguidetxt{
	color: red;
	font-size: 20px;
	margin-top: 300px;
	font-family: sans-serif;
}
