<ion-view view-title="关于我们"  can-swipe-back="false">
    <ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>
        <h2 class="title">关于我们</h2>
    </ion-header-bar>
    <ion-content class="us bg-gray">
        
     <div class="mask">
       <img src="../img/us.png" width="100%" height="180" alt="">
     </div> 
        <div class="list user">

              <a class="item item-icon-right" href="#/introduction">
                  产品介绍
                  <i class="icon ion-ios-arrow-right gray font-16"></i>
              </a>

              <a class="item item-icon-right" href="#/about_KB">
                  关于快贝金融
                  <i class="icon ion-ios-arrow-right gray font-16"></i>
              </a>
            </div>
    </ion-content>
</ion-view>
