<ion-view view-title="关于我们"  can-swipe-back="false">
    <ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('us','true')"></i>
        <h2 class="title">关于快贝金融</h2>
    </ion-header-bar>

    
    <ion-content class="us">
        
     <div class="mask">
       <img src="../img/us-2.png" width="100%" height="180" alt="">
     </div>
       <p>快贝金融是一家专注于家居行业消费金融平台，是国内首家与多家大型建材城、家居商场开展整体合作的消费金融服务平台;核心业务涵盖互联网金融、消费金融、供应链金融等全产业链金融服务。</p> 
       <p>依托互联网+社区+金融的商业模式，以场景为入口，以消费为驱动，以服务为宗旨;以客户需求为导向，以实际消费意念与行为，通过信息交互与大数据整合，借助先进的互联网与金融科技实现，为消费者提供更便捷、更优质的金融服务，并着力打造完善的家居消费金融服务平台。在北京、深圳、上海、西安等地已与多家大型卖场及家居建材品牌开展合作，重点覆盖国内二三线城市。主要提供包括家居、建材、家电等产品分期付款服务，随时随地满足客户的个性化消费需求，打造一站式智能化消费金融服务。</p>
       <div class="gs">客服电话：<a href="tel:400-852-9616">400-852-9616</a></div>
       <div class="gs">邮箱：<a href="kuaibei@kuaibeikj.com">kuaibei@kuaibeikj.com</a></div>
    </ion-content>
</ion-view>
