<ion-view view-title="关于我们"  can-swipe-back="false">
    <ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('us','true')"></i>
        <h2 class="title">产品介绍</h2>
    </ion-header-bar>
    
    <ion-content class="us">
        
     <div class="mask">
       <img src="../img/us-1.png" width="100%" height="180" alt="">
     </div>
       <p> 快贝分期是深圳快贝信息科技有限公司旗下消费分期产品。 主要提供包括家居、建材、家电等产品分期付款服务，随时随地满足客户的个性化消费分期需求，打造一站式智能化消费分期服务体验。</p> 
    </ion-content>
</ion-view>
