 <ion-nav-view class="login"  can-swipe-back="false">

 <ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('login','true')"></i>
        <h2 class="title">忘记密码</h2>
    </ion-header-bar>
 			<ion-content has-tabs="true" >
			   <!--  <div class="list list-inset">
			        <label class="item item-input">
			          <span class="input-label">用户名</span>
			          <input type="text"  placeholder="请输入用户名">
			        </label>
			        <label class="item item-input">
			          <span class="input-label">身份证</span>
			          <input type="text" placeholder="请输入有效身份证号">
			        </label>

			      </div> -->
			      <div class="list list-inset">
			        <label class="item item-input">
			          <span class="input-label">手机号</span>
			          <input type="text"  placeholder="请输入用户名"  autocomplete="off" ng-model="json.mobile">
			        </label>
			        <label class="item item-input">
			          <span class="input-label">新密码</span>
			          <input type="password" placeholder="请输入新登录密码"  autocomplete="off" ng-model="json.password">
			        </label>
			        <div class="yanz">
					  <label class="item item-input">
					    <span class="input-label font-13">短信验证码</span>
					    <input type="text" maxlength="6"  autocomplete="off" ng-model="json.code" placeholder="请输入验证码">
					    
					  </label>
					  <button class="button button-small button-positive"  ng-click="getTestCode()" ng-bind="description" ng-disabled="canClick">获取验证码</button>
				</div>
			      </div>
			      
			      <div class="padding">
			        <button class="button button-block button-positive" ng-click="retrievePwd()">确 定</button>
			      </div>
 			</ion-content>

 </ion-nav-view>