<ion-view view-title="身份认证" can-swipe-back="false" cache-view="false">
	<link rel="stylesheet" type="text/css" href="templates/info/info.css"/>
	<ion-header-bar align-title="center" class="bar-light">
		<i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.index','true')"></i>
		<h2 class="title">身份认证</h2>
	</ion-header-bar>

	<ion-content class="bg-gray note_text">

		<div class="list">

			<label class="item item-input">
	        	<span class="input-label font-13">姓名</span>
	        	<input type="text" placeholder="请输入真实姓名" class="putName" ng-model="jbinfo.name" ng-disabled="authdis">
	      	</label>
	
			<label class="item item-input">
	        	<span class="input-label font-13">身份证号</span>
	        	<input type="text" placeholder="请输入您的身份证号" class="putName" ng-model="jbinfo.idcard" ng-disabled="authdis">
	      	</label>
	
			<label class="item item-input" ng-if="zsinvite">
	        	<span class="input-label font-13">邀请人</span>
	        	<input type="text" placeholder="您是否有邀请人" ng-model="sIRecord.inviteCode">
	      	</label>
	
				<!--<div class="item item-checkbox" style="font-size: 13px" >-->
				<!--<label class="checkbox">-->
				<!--<input type="checkbox" style="zoom: 80%" ng-click="inputcheckbox()">-->
				<!--</label>-->
				<!--<span style="font-size: 13px" ng-click="contractlook()"> 我已阅读并同意 <a style="color: #0c60ee" >征信授权及借款额度合同</a></span>-->
				<!--</div>-->
	
			<label class="item item-checkbox">
	        	<label class="checkbox" >
	        		<input id="checkbox1" type="checkbox" ng-click="inputcheckbox()">
	          		<label class="checkbox" ng-click="contractlook()"> 我已阅读并同意 <a>个人征信授权书</a></label>
				</label>
			</label>

		</div>
		<p class="btn">
			<button class="button button-positive" ng-click="goNext()" ng-disabled="disablebtns">下一步</button>
		</p>
	</ion-content>
</ion-view>