<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Title</title>
	</head>

	<body>
		<div class="top_content">
			<img src="img/new/huobileiji.jpg">
			<p>当前奖励总额</p>
			<p>		
				<a class="org_a">￥</a><a class="money_a">{{totalCashBonuss}}</a>  
				<a ng-click="goadl(1)">明细</a> 
			</p>

			<p>
				<a class="org_a">￥</a><a class="money_a">{{untotalCashBonus}}</a>
				<a ng-click="ptunpay()">未发</a>
				&nbsp &nbsp
				<a class="org_a">￥</a><a class="money_a">{{moneyLefts}}</a>
				<a ng-click="wantwithdraw()">提现</a>
			</p>
			<button id="hongbaobtn" class="button withdrawal_btn" ng-click="wantwithdraw()">我要提现</button>

		</div>
		<div class="list notes">

			<ion-item class="item">
				<p>提现记录</p>
			</ion-item>

			<div class="list text-center">

				<ion-item class="item notes_tab" ng-repeat="w in WithdrawLogs">
					<a class="numlistmin float-l"> {{w.bank_num }}</a>
					<a class="amount_text"> -{{w.amount }}</a>
					<a class="float-r"> {{w.create_time2 }}</a>
				</ion-item>
				<br>
				<br>
				<br>
			</div>

		</div>
	</body>

</html>