<ion-view view-title="奖励明细" can-swipe-back="false" cache-view="false">
	<link rel="stylesheet" type="text/css" href="templates/info/info.css"/>
	<ion-header-bar align-title="center" class="bar-light ">
		<i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.index','true')"></i>
		<h2 class="title">奖励明细</h2>

	</ion-header-bar>

	<ion-content>

		<div class="topItem_box">
			<div id="boxstext" ng-repeat="d in tabNames" on-finish class="tab_default" ng-click="activeSlide($index)" ng-class="slectIndex==$index ?  'tab_select' : '' " onmouseover="this.style.color='#4777e3'" onmouseout="this.style.color='#2f2f2f'">
				{{d}}
			</div>
		</div>

		<div ng-include="pages[slectIndex]"></div>

	</ion-content>
</ion-view>