<ion-view view-title="明细记录" can-swipe-back="false" cache-view="false">
	<link rel="stylesheet" type="text/css" href="templates/info/info.css" />
	<ion-header-bar align-title="center" class="bar-light ">
		<i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.index','true')"></i>
		<h2 class="title">明细记录</h2>

	</ion-header-bar>

	<ion-content>

		<div class="bar bar-header">
			<div class="h1 title" ng-if="jlnum11">
				<a class="float-l bar-name"> 姓名</a>
				<a class="bar-money"> 分期金额</a>
				<a class="float-r bar-award"> 奖励金额</a>
			</div>
			<div class="h1 title" ng-if="jlnum22">
				<a> 红包兑换</a>
			</div>
		</div>

		<ion-list class="text-c">
			<ion-item class="item item_height"></ion-item>
			<ion-item class="item item_height" ng-repeat="i in zsclientinfo" ng-if="jlnum11">
				<a class="float-l"> {{i.b_name}}</a>
				<a> {{i.amount }}元</a>
				<a class="float-r colorRed"> +{{i.cash_bonus_amt }}</a>
			</ion-item>

			<!--<ion-item class="item item-icon-right" ng-repeat="i in myredpacketall" ng-if="jlnum22 && r.status">-->
			<ion-item class="item item-icon-right" ng-repeat="i in myredpacketall" ng-if="jlnum22">
				<a class="float-l">{{i.rname }}</a>
				<a class="float-r text_color" ng-click="duihuanquan(i.id)">立即兑换</a>
				<i class="icon ion-ios-arrow-right text_color"></i>
			</ion-item>

			<br>
			<br>
		</ion-list>

	</ion-content>
</ion-view>