<ion-view view-title="基本资料" cache-view="false"  can-swipe-back="false">
	<link rel="stylesheet" type="text/css" href="templates/info/info.css"/>
    <ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>
        <h2 class="title">基本资料</h2>
    </ion-header-bar>
  <ion-content class="user bg-gray">
        <div class="list mt-1">

        	<div class="item  item-icon-right" ngf-select="upload()" ngf-pattern="'image/*'" ngf-multiple="false" ng-model="data.file" runat="server" type="file" accept="image/*" >
                <span class="sculpture">头像</span>
                <img ng-if="user.portrait" ng-src="{{user.portrait}}" alt="" class="item-note" width="40" height="40">
                <img ng-if="!user.portrait" src="../img/user.png" alt="" class="item-note" width="40" height="40">
               <i class="icon ion-ios-arrow-right gray font-16"></i>
            </div>

            <div class="item" >
                名字
                <span class="item-note">{{user.name}}</span>
            </div>
            <div class="item" href="#/suppleInfo">
                年龄

               <span class="item-note" >{{user.age}}</span>
                
            </div>
            <div class="item" >
                性别
                 <span class="item-note" >{{user.sex==1?'男':'女'}}</span>
            </div>
            
        </div>

        <div class="list mt-1">

            <div class="item" >
                地区
                <span class="item-note">{{user.province}} {{user.city}}</span>
            </div>
            <div class="item" >
                地址
                <span class="item-note">{{user.address}}</span>
            </div>
            
        </div>

  </ion-content>
</ion-view>
