
<ion-view view-title="邀请记录" can-swipe-back="false" cache-view="false">
	<link rel="stylesheet" type="text/css" href="templates/info/info.css"/>
  <ion-header-bar align-title="center" class="bar-light ">
    <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.index','true')"></i>
    <h2 class="title">邀请记录</h2>

  </ion-header-bar>

  <ion-content  >

    <div class="bar bar-header" >
    <div class="h1 title" >
    	<span class="span_name"> 姓名</span>
    	<span> {{midtextinfo}}</span>
    	<span class="span_date"> 日期</span></div>
    </div>

    <ion-list class="text-center">

      <ion-item class="item notes_tab"></ion-item>

      <ion-item class="item notes_tab" ng-repeat="i in zsclientinfo">
        <a class="us_name">{{i.b_name}}</a>
        <a class="us_cent40" ng-if="typenum == '1'" >{{i.amount }}元</a>
        <a class="us_cent40" ng-if="typenum == '0'"> +{{i.red_bonus_amt}}元 </a>
        <a class="centRi25" >{{i.create_time2 }}</a>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

