
<ion-view view-title="代发奖励" can-swipe-back="false" cache-view="false">
	<link rel="stylesheet" type="text/css" href="templates/info/info.css"/>
  <ion-header-bar align-title="center" class="bar-light ">
    <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.index','true')"></i>
    <h2 class="title">代发奖励</h2>

  </ion-header-bar>

  <ion-content  >


    <div class="bar bar-header" >
      <div class="h1 title" >
        <a class="span_name"> 姓名</a>
        <a>  待发奖励</a>
        <a class="span_date">  待发时间</a>
      </div>
    </div>

    <ion-list class="text-center">

      <ion-item class="item notes_tab"></ion-item>
      
      <ion-item class="item notes_tab" ng-repeat="p in ptUnpaydata" >
        <a class="us_name"> {{p.a_name}}</a>
        <a class="us_cent40 colorRed">  {{p.should_amount  }}元</a>
        <a class="centRi25">  {{p.should_time2  }}</a>
      </ion-item>

      <br>
      <br>
    </ion-list>


  </ion-content>
</ion-view>

