<ion-view view-title="提升信用"  can-swipe-back="false">

    <ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>
        <h2 class="title">提升信用</h2>
         <div class="buttons right">
          <a href="#/upload">跳过</a>
        </div>
    </ion-header-bar>

  <ion-content class="bg-gray">
    <div class="step">
        <div class="row row-center font-12">
            <div class="col">
                <span class="green_step">1</span>
                <i class="float-r green_step"></i>
            </div>
            <div class="col">
                <i class="float-l green_step"></i>
                <span class="green_step">2</span>
                <i class="float-r green_step"></i>
            </div>
            <div class="col">
                <i class="float-l green_step"></i>
                <span class="green_step">3</span>
                <i class="float-r"></i>
            </div>
            <div class="col">
                <i class="float-l"></i>
                <span>4</span>
            </div>
        </div>
        <div class="row row-center font-12">
            <div class="col bule">
                基本信息
            </div>
            <div class="col bule">
                辅助信息
            </div>
            <div class="col bule">
                提升信用
            </div>
            <div class="col">
                上传资料
            </div>
        </div>
    </div>

      <div class="reput bg-white ">
          <h3 class="font-14 yellow"><i class="icon ion-load-b font-14 yellow"></i> 点亮信用图标</h3>
          <p class="font-12 gray">即可提升通过率及授信额度</p>

        <div class="p-5">
            <div class="row row-center">
                <div class="col">
                        <img src="../img/info/jd.png" alt="" width="70%">
                </div>
                <div class="col">
                        <img src="../img/info/tb.png" alt="" width="70%">
                </div>
                <div class="col">
                        <img src="../img/info/yy.png" alt="" width="70%">
                </div>
            </div>
            <div class="row row-center">
                <div class="col">
                    <span>京东信用</span>
                </div>
                <div class="col">
                    <span>淘宝信用</span>
                </div>
                <div class="col">
                    <span>运营商</span>
                </div>
            </div>

            <div class="row row-center">
                <div class="col">
                        <img src="../img/info/sb.png" alt="" width="70%">
                </div>
                <div class="col">
                        <img src="../img/info/zhim.png" alt="" width="70%">
                </div>
                <div class="col">
                        <img src="../img/info/zx.png" alt="" width="70%">
                </div>
            </div>
            <div class="row row-center">
                <div class="col">
                    <span>社保</span>
                </div>
                <div class="col">
                    <span>芝麻信用</span>
                </div>
                <div class="col">
                    <span>个人征信</span>
                </div>
            </div>
        </div>

      </div>
      <p class="btn"><a class="button button-positive button-block"  href="#/upload">下一步</a></p>
  </ion-content>
</ion-view>
