<ion-view view-title="辅助信息"  can-swipe-back="false">
	<ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>
        <h2 class="title">辅助信息-资料上传</h2>
    </ion-header-bar>

	<ion-content class="bg-gray" >

			<div class="step">
		        <div class="row row-center font-12">
		            <div class="col">
		                <span class="green_step">1</span>
		                <i class="float-r green_step"></i>
		            </div>
		            <div class="col">
		                <i class="float-l green_step"></i>
		                <span class="green_step">2</span>
		                <i class="float-r green_step"></i>
		            </div>
		            <div class="col">
		                <i class="float-l green_step"></i>
		                <span class="green_step">3</span>
		                <i class="float-r green_step"></i>
		            </div>
		            <div class="col">
		                <i class="float-l green_step"></i>
		                <span class="green_step">4</span>
		            </div>
		        </div>
		        <div class="row row-center font-12">
		            <div class="col bule">
		                基本信息
		            </div>
		            <div class="col bule">
		                辅助信息
		            </div>
		            <div class="col bule">
		                提升信用
		            </div>
		            <div class="col bule">
		                上传资料
		            </div>
		        </div>
		    </div>

			<div class="picbox bg-white">
			<div class="row ">
			  <div class="col img-row" ngf-pattern="'image/*'" ngf-multiple="false" ng-model="data.file" runat="server" type="file" accept="image/*" ngf-select="upload(data.file,0)">
				   <img src="../img/info/idcard-z.png" alt="" width="100%" ng-if="!photosList.sfz1">
				   <img ng-if="photosList.sfz1" ng-src="{{photosList.sfz1}}" alt=""  width="100%" class="has_img">
				   <!-- <img src="../img/info/idcard-z1.png" alt="" width="100%" ng-if="data.file"> -->
				</div>
			  <div class="col img-row" ngf-pattern="'image/*'" ngf-multiple="false" ng-model="data1.file1" runat="server" type="file" accept="image/*" ngf-select="upload(data1.file1,1)">
				   <img src="../img/info/idcard-f.png" alt="" width="100%" ng-if="!photosList.sfz2">
				   <img ng-if="photosList.sfz2" ng-src="{{photosList.sfz2}}" alt="" width="100%" class="has_img">
				   <!-- <img src="../img/info/idcard-f1.png" alt="" width="100%" ng-if="data1.file1"> -->
				</div>
			</div>
				<div class="row text-row">
			  <div class="col">身份证正面照</div>
			  <div class="col">身份证反面照</div>
			</div>
			<div class="row ">
			  <div class="col img-row" ngf-pattern="'image/*'" ngf-multiple="false" ng-model="data2.file2" runat="server" type="file" accept="image/*" ngf-select="upload(data2.file2,2)">
				   <img src="../img/info/zp.png" alt="" width="100%" ng-if="!photosList.face">
				   <img ng-if="photosList.face" ng-src="{{photosList.face}}" alt=""  width="100%" class="has_img">
				   <!-- <img src="../img/info/zp1.png" alt="" width="100%" ng-if="data2.file2"> -->
				</div>
			  <div class="col img-row" ngf-pattern="'image/*'" ngf-multiple="false" ng-model="data3.file3" runat="server" type="file" accept="image/*" ngf-select="upload(data3.file3,3)">
				   <img src="../img/info/bank.png" alt="" width="100%" ng-if="!photosList.banck">
				   <img ng-if="photosList.banck" ng-src="{{photosList.banck}}" alt=""  width="100%" class="has_img">
				   <!-- img src="../img/info/bank1.png" alt="" width="100%" ng-if="data3.file3"> -->
				</div>
			</div>
				<div class="row text-row">
			  <div class="col">申请人照片</div>
			  <div class="col">代扣银行卡照片</div>
			</div>
			</div>

			<div class="item item-divider">
	          辅助图片资料
	        </div>
			<div class="piclist bg-white">
				<ul>
					<li  ngf-pattern="'image/*'" ngf-multiple="false" ng-model="data4.file4" runat="server" type="file" accept="image/*" ngf-select="upload(data4.file4,4)">
						<img ng-if="photosList.other1" ng-src="{{photosList.other1}}" alt=""  width="100%"  height="100%">
					</li>
					<li  ngf-pattern="'image/*'" ngf-multiple="false" ng-model="data5.file5" runat="server" type="file" accept="image/*" ngf-select="upload(data5.file5,5)">
						<img ng-if="photosList.other2" ng-src="{{photosList.other2}}" alt=""  width="100%"  height="100%">
					</li>
					<li ngf-pattern="'image/*'" ngf-multiple="false" ng-model="data6.file6" runat="server" type="file" accept="image/*" ngf-select="upload(data6.file6,6)">
						<img ng-if="photosList.other3" ng-src="{{photosList.other3}}" alt=""  width="100%" height="100%">
					</li>

				</ul>
				<div class="clearfix"></div>
			</div>

	        <p class="btn"><button class="button button-positive "  ng-click="goNext()">提 交</button></p>


	</ion-content>

</ion-view>
