<ion-view view-title="我的奖励" can-swipe-back="false" cache-view="false">
	<link rel="stylesheet" type="text/css" href="templates/info/info.css"/>
	<ion-header-bar align-title="center" class="bar-light  item-icon-right">
		<i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.index','true')"></i>
		<h2 class="title">我的奖励</h2>
		<i class="icon ion-ios-person-outline positive" ng-click="gozsinfo()"></i>
	</ion-header-bar>

	<ion-content class="">

		<div class="list full">

			<img id="invite_img" src="img/new/zsinvitebg.jpg"/>
			<br>
			<br>
			<p class="notes_pText" ng-click="goinviterecord()">邀请记录</p>

			<button id="hongbaobtn" class="button my_reward" ng-click="toadetails()">我的奖励</button>

			<p></p>

			<p class="my_code" ng-click="invitecode()">你的专属邀请码 {{zsinviteCode }}</p>
			<br>
			<br>
		</div>

	</ion-content>
</ion-view>