
<ion-view view-title="我的信息" can-swipe-back="false" cache-view="false">
	<link rel="stylesheet" type="text/css" href="templates/info/info.css"/>
  <ion-header-bar align-title="center" class="bar-light ">
    <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.index','true')"></i>
    <h2 class="title">我的信息</h2>

  </ion-header-bar>

  <ion-content  >
<!--class="list list-inset"-->
    <div >

      <!--姓名，身份证号，电话，所属商户，所属门店，-->
      <label class="item item-input">
        <span class="input-label font-13">专属顾问</span>
        <span class="size-14" >{{zsinfo.salerName}}</span>
      </label>
      <label class="item item-input">
        <span class="input-label font-13">顾问手机</span>
        <span class="size-14" >{{zsinfo.salerMobile }}</span>
      </label>
      <label class="item item-input">
        <span class="input-label font-13">姓名</span>
        <span class="size-14" >{{zsinfo.name  }}</span>
      </label>
      <label class="item item-input">
        <span class="input-label font-13">身份证号</span>
        <span class="size-14" >{{zsinfo.idNum   }}</span>
      </label>
      <label class="item item-input">
        <span class="input-label font-13">手机</span>
        <span class="size-14" >{{zsinfo.mobile}}</span>
      </label>

      <label class="item item-input" >
        <span class="input-label font-13">所属品牌</span>
        <span class="size-14">{{zsinfo.shopName  }}</span>
      </label>
      <label class="item item-input" >
        <span class="input-label font-13">所属门店</span>
        <span class="size-14">{{zsinfo.storeName }}</span>
      </label>
      <label class="item item-input" ng-if="zsinfo.remark !='' ">
        <span class="input-label font-13">其他备注</span>
        <span class="size-14">{{zsinfo.remark  }}</span>
      </label>
      <label class="item item-input" >
        <span class="input-label font-13">专属邀请码</span>
        <span class="size-14">{{zsinfo.inviteCode  }}</span>
      </label>

    </div>

  </ion-content>
</ion-view>

