<ion-view view-title="设置"  can-swipe-back="false">
		<ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>
        <h2 class="title">设置</h2>
    </ion-header-bar>

	<ion-content class="user bg-gray pt-s" >
		    <div class="list">

	            <a class="item item-icon-right" href="#/changepwd">
	                修改登录密码
	                <i class="icon ion-ios-arrow-right gray font-16"></i>
	            </a>

	           <!--  <a class="item item-icon-right" href="#/changejy">
	                修改交易密码
	                <i class="icon ion-ios-arrow-right gray font-16"></i>
	            </a>

	            <a class="item item-icon-right" href="#/forgetPayPwd">
	                找回交易密码
	                <i class="icon ion-ios-arrow-right gray font-16"></i>
	            </a>

	            <a class="item item-icon-right" href="#/setPayPwd">
	                设置交易密码
	                <i class="icon ion-ios-arrow-right gray font-16"></i>
	            </a>

	            <a class="item item-icon-right" href="#/changephone">
	                更换手机号
	                <i class="icon ion-ios-arrow-right gray font-16"></i>
	            </a> -->

	        </div>
	        <p class="btn"><button class="button button-positive " ng-click="outlogin()">退出</button></p>
	</ion-content>
</ion-view>