<!--模块未启动-->
<ion-view view-title="设置交易密码"  can-swipe-back="false">
	<ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('set','true')"></i>
        <h2 class="title">设置交易密码</h2>
    </ion-header-bar>
	<ion-content class="bg-gray pt-s" >

			<div class="list">
				<div class="item item-divider font-12">
		          在设置主卡、提现时使用
		        </div>

			  <label class="item item-input">
			    <span class="input-label">交易密码</span>
			    <input type="password">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">确认密码</span>
			    <input type="password">
			  </label>
			  <label class="item item-input yanz">
			    <span class="input-label">验证码</span>
			    <input type="text" maxlength="6">
			    <button class="button button-small button-positive">获取验证码</button>
			  </label>
			</div>
	        <p class="btn"><button class="button button-positive ">提 交</button></p>
	</ion-content>
</ion-view>