.protocol-indent__p{
	text-indent:2rem;
}

.protocol__a{
	float: left; 
	padding-left: 0;
}

.protocol__div{
	float: left; 
	margin-top: -0.8rem;
}

.protocol__checkbox{
	 border: none; 
	 padding-right: 0; 
	 padding-left: 50px;
	 font-size: .8rem;
}
