 <ion-nav-view class="login"  can-swipe-back="false">

 <ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('center','true')"></i>
        <h2 class="title">身份证登录</h2>
    </ion-header-bar>
 			<ion-content has-tabs="true" >
			      <div class="list list-inset">
			        <label class="item item-input">
			          <span class="input-label">用户名</span>
			          <input type="text"  placeholder="请输入用户名">
			        </label>
			        <label class="item item-input">
			          <span class="input-label">身份证</span>
			          <input type="text" placeholder="请输入有效身份证号">
			        </label>
					<label class="item item-input">
			          <span class="input-label">密码</span>
			          <input type="password" placeholder="请输入登录密码">
			        </label>
			      </div>
			      
			      <p class="a_h"><a href="#/forgetpwd" class="float-r bule">忘记密码</a></p>
			      <div class="padding">
			        <button class="button button-block button-positive">登录</button>
			      </div>
 			</ion-content>

 </ion-nav-view>