/*myDiscount.html  样式*/
.discount-sub__tag{
	flex: 1;
	text-align: center;
}

.discount-explain__btn{
	font-size: 14px !important;
	border: none;
	float: right;	
}

.discount__subTag{
	display: flex;
	width: 100%;
	height: 46px;
	position: relative;
}




.discount-item__not{
	margin-top: 5px;
	background-color: white;
}

.discount-item__{
	margin-top: 5px;
}

.discount-offsetMoney__position{
	float: left;
	margin-top: 15px;
}

.fontStyle-not{
	color: rgba(229,189,15,0.62);
	font-size: 35px;
}

.fontStyle{
	color: orange;
	font-size: 35px;
}

.item-p{
	float: right;
	width: 60%;
}

.item-name_fontStyle-not{
	font-size: 13px;
	font-family: "microsoft yahei";
	color: #282828;   
	width: 100%;
}

.item-name_fontStyle{
	font-size: 13px;
	font-family: "microsoft yahei";
	color: #606060;    
	width: 100%;
}

.item-place-not{
	color: #282828;
	font-size: 13px;
	width: 100%;
}

.color-blue{
	color: #397FF5;
}

.explain-not{
	color: #282828;
	font-size: 13px;
	font-family: "microsoft yahei";
	width: 100%;
}

.item-validity{
	background: -webkit-linear-gradient(left,rgba(229, 206, 17, 0.62),#f96);
	border: none;
	height: 40px;
	line-height: 8px;
}

.validity-text{
	margin-left: 15px;
	text-align: left;
	color: snow;
	font-size: 12px;
}

.validity-text_item{
	color: snow;
	float: right;
	font-size: 12px;
}

.box_opacity{
	opacity: 0.5;
}



