<ion-view view-title="使用说明" can-swipe-back="false">
	<link rel="stylesheet" type="text/css" href="templates/user/discount/discount.css" />

	<ion-header-bar align-title="center" class="bar-light">
		<!--<i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>-->
		<!--ng-click="goCoupons()"-->
		<i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>

		<h2 class="title">使用说明</h2>

		<!--<button class="button" style="font-size:16px;border: none;float: right" ></button>-->

	</ion-header-bar>
	<ion-content class="bg-gray ticketUsetext">

		<div class="has-header">

			<ion-list>
				<ion-item class="item-icon-right">
					1、如何得到商家抵扣券？
					<!--<i class="icon ion-ios-arrow-right gray font-16"></i>-->
				</ion-item>
				<div class="item item-text-wrap bg-gray">
					<p> 商家抵扣券来自于与快贝分期平台合作的商户于某次活动在快贝分期平台进行发放
					</p>
				</div>

				<ion-item class="item-icon-right">
					2、商家抵扣券的类型有哪些？
					<!--<i class="icon ion-ios-arrow-right gray font-16"></i>-->
				</ion-item>
				<div class="item item-text-wrap bg-gray">
					<p> 主要类型有满XX减XX本金抵扣券，活动礼品券等</p>
				</div>

				<ion-item class="item-icon-right">
					3、商家抵扣券怎么使用？
					<!--<i class="icon ion-ios-arrow-right gray font-16"></i>-->
				</ion-item>
				<div class="item item-text-wrap bg-gray">
					<p>
						通过快贝分期平台到指定商户（发券的商户门店）与商户洽谈使用</p>
				</div>
			</ion-list>

		</div>

	</ion-content>

</ion-view>