<ion-view view-title="我的抵扣券" cache-view="false" can-swipe-back="false" id="my-discount">
	<!--<link rel="stylesheet" type="text/css" href="templates/user/discount/discount.css" />-->

	<!--<ion-nav-buttons side="left">-->
	<!--<button class="button button-clear button-icon icon ion-arrow-left-c" ng-click="goBack()"></button>-->
	<!--</ion-nav-buttons>-->

	<!--<ion-nav-buttons side="right" >-->
	<!--<button class="button   " style="font-size:16px "   >使用说明-->
	<!--</button>-->
	<!--</ion-nav-buttons>-->

	<ion-header-bar align-title="center" class="bar-light">
		<i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>
		<h2 class="title">我的抵扣券</h2>
		<button class="button discount-explain__btn" ng-click="lookdisusetext()">使用说明</button>
	</ion-header-bar>

	<ion-content>

		<!--<ion-tabs class="tabs-striped tabs-top" ng-repeat="item in tabs">-->
		<!--<ion-tab   title="{{item.name}}" style="background-color: red">{{item.name}}</ion-tab>-->
		<!--</ion-tabs>-->

		<div class="discount__subTag">
			<div id="boxstext" ng-repeat="d in tabNames" on-finish class="tab_default discount-sub__tag" ng-click="activeSlide($index)" ng-class="slectIndex==$index ?  'tab_select' : '' ">
				{{d}}

				<!--<div class="arrow-top" style="left:{{15+$index*33}}%;" ng-show="slectIndex==$index"></div>-->
			</div>
		</div>
		<!--<ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" does-continue="false" show-pager="false">-->
		<!--<ion-slide ng-repeat="p in pages">-->
		<!--<div ng-include="p"></div>-->
		<!--</ion-slide>-->
		<!--</ion-slide-box>-->
		<div ng-include="pages[slectIndex]"></div>

		<!--<ion-slide-box show-pager="false" class="has-header" on-slide-changed="slideChanged($index)">-->
		<!--<ion-slide ng-repeat="slide in slides">-->
		<!--<div class="list">-->
		<!--<a ng-repeat="item in tabs" class="item item-thumbnail-left" href="#">-->
		<!--<img ng-src="img/TongeBlog.jpg" width="30" height="30" alt="">-->
		<!--<h2>title:{{slide.name}}</h2>-->
		<!--<p>description</p>-->
		<!--</a>-->
		<!--</div>-->
		<!--</ion-slide>-->
		<!--</ion-slide-box>-->

	</ion-content>

</ion-view>