<ion-view view-title="借款额度合同及相关授权" can-swipe-back="false">

  <ion-header-bar align-title="center" class="bar-light">
    <!--<i class="ion-ios-arrow-thin-left bule" ng-click="myBack('addbank','true')"></i>-->

    <i class="ion-ios-arrow-thin-left bule" ng-click="gotoaddbank()"></i>
    <h2 class="title">借款额度合同及相关授权</h2>
  </ion-header-bar>
  <ion-content has-tabs="true" >
    <div class="p-all">
      <!--<h4 style="text-align: center">授权书</h4>-->
      <p>致深圳快贝信息科技有限公司("公司")</p>
      <p>本人现向贵公司申请消费分期，并因该业务需要授权如下：</p>
      <p>1.本人同意并授权贵公司向中国人民银行个人信用信息基础数据库查询、获取和报送本人的个人信息、个人信用信息以及其他反映我信用状况的信息（包括不良信息记录，如有）。
        授权期限为自本人签署该授权书起至贷款期限（如有）终止。</p>
      <p>2、本人同意并授权贵公司和深圳新联商业保理有限公司向任何第三方查询并获取我的个人相关信息，不管我是否已在先授权该第三方将我的个人相关信息与任何第三方共享。
        本人特此授权全部合法拥有我的个人相关信息（无任何附加限制）的第三方处于对本人信用状况的评估和与本人所申请的消费分期的发放、
        偿还和执行有关的目的向贵公司和深圳新联商业保理有限公司提供个人相关信息或其数据库或信息维护的准入权和使用权。</p>
      <p>3.本人在此同意并授权贵公司，出于本人提供消费分期及相关服务之需要（包括但不限于分期申请的处理、各个阶段的分期管理、账户及付款管理、预防诈骗、权利的保护及执行等），
        提供本人的个人信息和相关分期信息给深圳快贝信息科技有限公司（《消费信贷合同条款》项下的客户服务供应商）、贵公司国内的关联公司以及与贵公司开展消费金融业务的合作伙伴。</p>
      <p>
        4.本人同意授权并配合贵公司出于提供消费分期之需要，向公司的其他国内关联公司、业务合作伙伴及其他合法的来源查询并获取我的个人相关信息
        （包括但不限于本人身份信息、银行卡信息、通讯信息、电话短信、社会保险及公积金相关信息等）。
      </p>
      <p>5、本人同意并授权贵公司和深圳新联商业保理有限公司向任何第三方查询并获取我的个人相关信息，不管我是否已在先授权该第三方将我的个人相关信息与任何第三方共享。
        本人特此授权全部合法拥有我的个人相关信息（无任何附加限制）的第三方处于对本人信用状况的评估和与本人所申请的消费贷款的发放、
        偿还和执行有关的目的向贵公司和深圳新联商业保理有限公司提供个人相关信息或其数据库或信息维护的准入权和使用权。</p>
      <p>6、本人同意并授权公司和深圳新联商业保理有限公司使用本人的个人信息向本人推荐产品。推荐的方法包括但不限于向本人通讯地址、电子邮箱、移动电话、QQ、微信、手机客户端等发送商业广告。</p>
      <h5 style="font-family: 微软雅黑;color: black;font-weight: 700"> 7、无论消费分期申请是否通过，本人同意贵公司采集、妥善保管并在上述授权的范围内使用本人的个人信息、职位信息、个人征信信息以及本人提供的相关文件。</h5>
    </div>
  </ion-content>

</ion-view>
