 <ion-nav-view>

 <ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.index','true')"></i>
        <h2 class="title">意外伤害保险条约</h2>
    </ion-header-bar>
			<ion-content has-tabs="true" >
			<div class="p-all">
 <p>1、若本人选择参加保险，即表明本人同意贷款人将本人加为<a href="#/pinan">《平安意外伤害保险条款》</a>保单的“被保险人”。该保单的保险公司为中国平安保险股份有限公司，投保人为贷款人，被保险人为本人。</p>
<p>2、若贷款人同意您本人以被保险人身份加入前述保单，您本人应向贷款人支付因此而产生的管理成本（即   服务费）</p>
<p>3、前述保单的保险公司为平安保险有限公司深圳分公司，投保人为贷款人深圳快贝信息科技有限公司，被保险人为您本人</p>
<p>4、您同意指定贷款人为唯一受益人，保险金直接付给贷款人用于偿还本人所欠款项，若受理保险金超出未偿还贷款本息，由贷款人转交被保险人或其继承人。</p>
<p>5、本人已经清楚关于投保前被保险人不能参保<a href="#/pinan">《平安意外伤害保险条款》</a>的相关约定，并声明本人参保前身体属于正常状态。不如实告知的法律责任由本人承担。本人知晓，是否接受本人为被保险人以及是否赔付保险金是由保险公司做出的决定，与贷款人无关。</p>
<p>6、投保人、受益人或其他有权领取保险金的人获知保险事故后应当在10个日内拨打客户热线4008529616通知贷款人，并按照贷款人告知的相关流程申请赔付。</p>
                </div>
			</ion-content>

 </ion-nav-view>