 <ion-nav-view>

 <ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('audit','true')"></i>
        <h2 class="title">借款人须知</h2>
    </ion-header-bar>
			<ion-content has-tabs="true" >
			<div class="p-all">
				<p>尊敬的        先生/女士：</p>
				<p style="text-indent:2rem">非常感谢您选择快贝分期付款这种最新的消费方式。希望我们的服务能提高您的生活品质，让您的生活更加轻松。在您充分性享受美好生活之际，请按时按计划还款。您的首次还款日期为: ________年_______月______日;  每月还款日为:________日; 每月还款额：________元。</p>
				<p style="text-indent:2rem">以下是您办理快贝分期的费用详情：</p>
				<table width="100%">
					<tr><th colspan="2"><strong>费用科目</strong></th><th><strong>费用金额</strong></th></tr>
					<tr><th colspan="2">总贷款本金（元）</th><th></th></tr>
					<tr><th colspan="2">分期期数</th><th></th></tr>
					<tr><th colspan="2">月贷款利率（%）</th><th></th></tr>
					<tr ><th colspan="3"><strong>借款成本</strong></th></tr>
					<tr><th colspan="2">贷款利息总额（元）</th><th></th></tr>
					<tr ><th rowspan="4" valign="middle"><strong>手续费</strong></th><th>财务管理费总额（元）</th><th></th></tr>
					<tr><th>客户服务费总额（元）</th><th></th></tr>
					<tr><th>银行代扣费总额（元）</th><th></th></tr>
					<tr><th>附加保险费总额（元）</th><th></th></tr>
					<tr><th colspan="3"><strong>每月应还</strong></th></tr>
					<tr><th colspan="2">应还本金</th><th></th></tr>
					<tr><th colspan="2">应还利息</th><th></th></tr>
					<tr><th colspan="2">应支付手续费</th><th></th></tr>
					<tr><th colspan="2"><strong>每月还款总额（元）</strong></th><th></th></tr>
				</table>
				<p>注：本借款人须知显示您全部借款总费用和每月应还款项信息。</p>
				<p style="text-indent:2rem">为了您的良好信用记录，避免产生不必要的违约金，建议您在到期日期前5天还款。建议您按以下方式还款，请注意不要向任何个人还款，否则还款无效：</p>
				<p>一、银行代扣</p>
				<p>如果您在贷款申请表中选择银行代扣，我们将在每月还款日从您指定的银行账户自动划扣。如您的银行代扣账户有变动，请致电客服热线变更账户信息。</p>
				<p>二、银行账户转账还款（包含网上银行、电话银行、自助服务终端机和柜台转账）</p>
				<table width="100%">
					<tr><th>开户银行：招商银行深圳华润城支行</th></tr>
					<tr><th>户名：深圳快贝信息科技有限公司</th></tr>
					<tr><th>账号：755933860810201</th></tr>
				</table>
				<p>三、支付宝还款</p>
				<p>支付宝账号：</p>
				<p>绑定快贝分期支付宝账户kuaibei@kuaibeikj.com，然后按照相关操作指引还款。</p>
				<p>若您有建议或者疑问，欢迎致电客服热线：4008529616，或者关注“快贝分期”服务号，随时随地查询贷款及合同相关信息。</p>
				<p>如您阅读后理解并同意本“借款人须知”和“个人消费分期合同”的内容，请确认合同。确认合同即表示您认真考虑了自己每月的还款能力，也仔细阅读了“借款人须知”和“合同的重要事项提示”的内容，对其完全理解并同意。</p>
				<p>温馨提示：如您未按时还款，逾期记录会对您的个人信用产生影响，例如您不能出境旅行，不能乘坐飞机火车等交通工具，甚至还会影响您在银行办理房贷、车贷等贷款业务，所以请您珍惜您的个人信用，按时还款。</p>
				<p>本须知一式两份，您与我司各执一份</p>
            </div>
			</ion-content>

 </ion-nav-view>