 <ion-nav-view>

 <ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.index','true')"></i>
        <h2 class="title">灵活还款及代扣服务协议</h2>
    </ion-header-bar>
			<ion-content has-tabs="true" >
			<div class="p-all">
                <ul>
                	<li>甲方（用户）：</li>
                	<li>身份证号：</li>
                	<li>住址：</li>
                	<li>联系电话：</li>
                </ul>
                <ul>
                	<li>乙方（商户）：深圳快贝信息科技有限公司</li>
                	<li>地址：深圳南山区后海大道2388号怡化金融科技大厦18楼</li>
                	<li>联系电话：4008529616</li>
                </ul>
                <p>本协议由甲乙双方于_______年_______月_______日签订。</p>
                <p>鉴于，甲方为乙方平台的用户，并基于甲方的使用需求，现就甲方授权乙方针对指定银行账户进行代扣服务，双方根据相关法律法规及平等、资源的原则签订如下协议，以资共同遵守：</p>
                <h5><strong>一、服务内容：</strong></h5>
                <p>1、甲方授权乙方对甲方指定银行账户进行代扣服务，服务手续费；</p>
                <p>2、甲方授权单次代扣额度为借款金额。即甲方授权乙方单次代扣总金额最高为_________元。</p>
                <p>3、甲方指定本人同名银行账户信息为：</p>
                <table>
                	<tr>
                		<th>开户名：</th>
                		<th style="width: 80px">&nbsp;</th>
                		<th>开户行</th>
                		<th style="width: 80px">&nbsp;</th>
                	</tr>
                	<tr>
                		<th>账号</th>
                		<th colspan="3"></th>
                	</tr>
                </table>
                <p>4、灵活还款:若本人选择购买“灵活的还款服务”，即表明本人同意每期支付20.00元的服务费。同时享有免费提前结清，免费变更还款日服务。</p>
                <h5><strong>免费变更还款日服务说明：</strong></h5>
                <p>1. 需足额偿付至少一期期款，且当前合同不处于逾期状态。</p>
                <p>2. 两次变更还款日之间必须足额偿还一期期款。</p>
                <p>3. 借款期限6期、12期的可以分别申请1次、2次此服务。</p>
                <h5><strong>免费提前结清服务说明：</strong></h5>
                <p>需足额偿付至少三期期款，且当前合同不处于逾期状态。</p>
                <h5><strong>二、双方权利义务</strong></h5>
                <p>（一）甲方权利义务</p>
                <p>1、甲方承诺在使用本协议约定的服务时，实施的所有行为均遵守国家法律、法规和相关规定以及各种社会公共利益或公共道德。甲方利用本服务从事非法活动或不正当交易产生的一切后果与责任，由甲方独立承担。</p>
                <p>2、甲方保证在使用本服务过程中提供的所有资料真实、准确、完整、有效、并保证预留的银行卡信息为其本人所有。对于因甲方提供信息不真实或不完整所造成的损失由其自行承担。甲方应妥善保管预留信息，除授权乙方在办理业务时使用外，不向任何其他人、其他网站、电话或短信的问询提供预留的信息内容。甲方对通过以上信息完成的一切款项代扣行为负责。</p>
                <p>3、甲方在使用本服务的过程中，应确保其自身账户中邮足额的款项可用于执行相应扣款指令，如因此导致扣款失败及其他损失，须由甲方自行承担。</p>
                <p>（二）乙方权利义务</p>
                <p>1、乙方承诺履行所有行为均遵守国家法律、法规和相关规定以及各种社会公共利益或公共道德。乙方利益本服务从事非法活动或不正当交易产生的一切后果与责任，由乙方独立承担。</p>
                <p>2、乙方有权根据自身业务的发展，增加、减少服务项目，及调整款项代扣的内容及方式或者对本产品功能进行升级、维护和改造的权利。</p>
                <p>3、乙方保证根据本协议及真实交易，真实、准确、完整、有效提供代扣服务。乙方对于该服务负责。</p>
                <p>三、协议期限</p>
                <p>本协议有效期三年，自______年______月______日至______年______月______日止。</p>
                <p>四、争议与解决条款</p>
                <p>本协议适用中华人民共和国大陆地区法律。就本协议的签订、履行或解释发生争议，双方应尽力友好协商解决。如协商不成，由乙方所在地有管辖权的人民法院管辖审理双方的纠纷。</p>
                <p>五、其他</p>
                <p>1、本协议未尽事宜、经双方协商以书面盖章形式予以补充，与本协议具有同等法律效力。</p>
                <p>2、本协议一式两份，双方各执一份，具有同等法律效力，自双方盖章或签字之日起生效。</p>
                <p>附件：甲方身份证、银行卡正反面复印件或扫描件，及甲方手持身份证、银行卡正面清晰照片</p>
                <p>【以下无正文】</p>
                <div class="row">
				  <div class="col">甲方（签字）：</div>
				  <div class="col">日期：</div>
				</div>
				<div class="row">
				  <div class="col"> 乙方（盖章）：</div>
				  <div class="col">日期：</div>
				</div>
                </div>
			</ion-content>

 </ion-nav-view>
