<ion-view view-title="商家" can-swipe-back="false">
    <link rel="stylesheet" type="text/css" href="templates/business/business.css" />

    <ion-header-bar align-title="center" class="bar-light" id="topbar">
        <h2 class="title">商户列表</h2>
    </ion-header-bar>
    <div class="bar bar-subheader item-input-inset bar" id="SearchBox">
        <!-- <ionic-city-picker options='vm.CityPickData' id="address"></ionic-city-picker> -->
        <span class="address" id="addressID">{{myAddress}}</span>
        <div class="item-input-wrapper">
            <input type="search" placeholder="搜索商家或地点" ng-model="searText" id="searchText">
            <i class="icon ion-ios-close-empty placeholder-icon" ng-if="searText.length" ng-click="colText()" style="font-size: 2rem;"></i>
            <i class="icon ion-ios-search placeholder-icon" ng-click="sear()" style="font-size: 1.5rem; margin-left: 0.7rem;"></i>
        </div>
    </div>

    <div id="conte">
        <ul class="list conte">
            <li class="item myActive" name="all">全部</li>
            <li class="item">瓷砖地板</li>
            <li class="item">厨房卫浴</li>
            <li class="item">墙面材料</li>
            <li class="item">门窗装饰</li>
            <li class="item">灯饰照明</li>
            <li class="item">家用电器</li>
            <li class="item">家居家具</li>
            <li class="item">装饰公司</li>
        </ul>
    </div>

    <ion-content class="seller" scroller id="ContBox">
        <div style="float:right; width:75%; z-index:12;" id="SellerList">
            <div class="list">
                <a class="item item-thumbnail-left listbox" style="" ng-repeat="itme in articles" ng-href="#/seller-details/{{itme.id}}">
                    <img src="./img/noimg.png" onerror="this.src='./img/noimg.png'" image-lazy-src="{{ itme.headPic }}">
                    <h2>{{itme.name}}</h2>
                    <p class="tag"><span ng-repeat="tag in itme.tags track by $index">{{tag}}</span></p>
                    <p>{{itme.address}}</p>
                </a>
            </div>
            <ion-infinite-scroll on-infinite="loadMore()" ng-if="moreDataCanBeLoaded()" distance="1%" class="more_load">
            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>