<ion-nav-view id="registration-protocol">
	<link rel="stylesheet" type="text/css" href="templates/login/login.css"/>
	<ion-header-bar align-title="center" class="bar-light">
		<i class="ion-ios-arrow-thin-left bule" ng-click="myBack('login','true')"></i>
		<h2 class="title">快贝分期注册协议</h2>
	</ion-header-bar>
	<ion-content has-tabs="true">
		<div class="p-all">
			<p class="protocol-indent__p">本平台（包括但不限于网站、移动客户端、微信客户端、支付宝服务窗客户端以及快贝分期不时以公告形式发布的新的网址、客户端等）由深圳快贝信息科技有限公司（以下简称 “快贝分期”）负责运营。本注册协议双方为快贝分期以及快贝分期的注册用户（以下简称“用户”、“您”），本注册协议具有合同效力。</p>
			<p class="protocol-indent__p">在您注册成为快贝分期用户前请务必仔细阅读以下条款。若您一旦注册，则表示您同意接受快贝分期的服务并受以下条款的约束。若您不接受以下条款，请您立即停止注册或主动停止使用快贝分期的服务。如您通过进入注册程序并勾选“我已阅读且同意《快贝分期注册协议》”按钮，即表示您与快贝分期已达成协议，自愿接受本服务条款的所有内容。此后，您不得以未阅读本服务条款内容作任何形式对的抗辩。</p>
			<h5 class="font-13"><strong>鉴于：</strong></h5>
			<p>1.快贝分期是一家互联网消费分期平台，致力于为用户提供全方位的消费分期服务，通过运用互联网技术简化申请贷款流程、提高贷款审核与发放效率，提升用户的体验；</p>
			<p>2.您有意使用快贝提供的产品和服务，向快贝分期申请个人消费贷款。现就快贝向您提供消费贷款的条件以及快贝向您提供相关客户服务等内容，由快贝和您共同确认以下条款：</p>
			<h5 class="font-13"><strong>一、 本协议的签署和修订</strong></h5>
			<p>1.快贝分期只接受持有中国有效身份证明的18周岁以上具有完全民事权利和民事行为能力，能够独立承担民事责任且资信状况良好的自然人成为网站用户。如您不符合资格，请勿注册，否则快贝有权随时中止或终止您的用户资格。</p>
			<p>2.本协议内容包括以下条款及快贝已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的一部分，与协议正文具有同等法律效力。本协议是您与快贝共同签订的，适用于您在快贝的全部活动。在您注册成为用户时，您已经阅读、理解并接受本协议的全部条款及各类规则，并承诺遵守中国的各类法律规定，如有违反而导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。</p>
			<p>3.快贝有权根据需要不时地修改本协议或根据本协议制定、修改各类具体规则并在快贝相关系统板块发布，无需另行单独通知您。您应不时地注意本协议及具体规则的变更，若您在本协议及具体规则内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议和具体规则内容，也将遵循修改后的协议和具体规则使用快贝的服务。若您不同意修改后的协议内容，您有权且应及时停止使用快贝的服务。</p>
			<p>4.您通过自行或授权有关方根据本协议及快贝有关规则、说明操作确认本协议后，本协议即在您和快贝之间产生法律效力。本协议不涉及您与快贝的其他用户之间因网上交易而产生的法律关系或法律纠纷，但您在此同意将全面接受和履行通过或使用快贝与包括快贝在内的相对方签订的任何电子法律文本，并承诺按该等法律文本享有相应的权利、承担相应的义务。</p>
			<h5 class="font-13"><strong>二、 注册用户的要求</strong></h5>
			<p> 1.您保证账户注册由本人办理，不存在代办、冒充他人注册等情形。您有义务在注册时按要求提供您本人的真实资料，并保证您提供的所有资料均真实、准确、完整、合法、有效。</p>
			<p> 2.您有义务维持并更新用户的资料，确保其为真实、最新、有效及完整。若用户提供任何错误、虚假、过时或不完整的资料，或者快贝依其独立判断怀疑资料为错误、虚假、过时或不完整，快贝有权暂停或终止用户的账户，并拒绝用户使用快贝服务的部份或全部功能。在此情况下，快贝不承担任何责任，并且您同意负担因此所产生的任何直接或间接的支出或损失。</p>
			<p> 3.如因您未及时更新基本资料，导致快贝服务无法提供或提供时发生任何错误，您不得将此作为取消贷款或拒绝还款的理由，快贝亦不承担任何责任，所有后果应由您自行承担。</p>
			<p>4.您有义务采取风险防范措施，安全使用快贝服务账户。用户确认，使用用户账户和密码登陆后在快贝平台上的一切操作均视为用户本人行为，用户账户操作所产生的电子信息记录为用户行为的有效凭据，由用户本人自行承担由此产生的全部责任。</p>
			<p> 5.您应采取有效的措施保护用于使用快贝服务账户的计算机、手机等电子设备的安全，因黑客、病毒或用户的保管疏忽等非快贝原因导致用户账户遭他人非法使用的，由您本人自行承担由此产生的全部责任。</p>
			<p>6.您的账户仅限本人使用，不得转借、转让、出租或以其他方式供他人使用，否则由此产生的风险及全部损失由用户自行承担。</p>
			<p>7.如您发现有第三人冒用或盗用您的账户及密码，或其他任何未经合法授权的情形，应立即以有效方式通知快贝，要求快贝暂停相关服务，否则由此产生的一切责任由您本人承担。同时，您理解快贝对用户的请求采取行动需要合理期限，在此之前，快贝对第三人使用该服务所导致的损失不承担任何责任。</p>
			<p>8.如您使用他人信息和资料注册使用本服务或向本公司提供的信息和资料不符合上述规定，由此引起的一切责任和后果均由您本人承担，本公司不承担因此产生的任何法律责任，因此而给本公司造成的任何损失，应由您来全部承担。</p>

			<h5 class="font-13"><strong>三、服务内容</strong></h5>
			<p> 1.快贝提供的服务包括但不限于：与消费分期相关的咨询和代理业务、代理销售与消费贷款相关的保险产品，及经工商部门批准的其他业务。您同意，针对借款人用户，快贝有权根据借款人提供的各项信息及快贝独立获得的信息评定借款人在快贝所拥有的个人信用等级，进而决定是否审核通过借款人的借款申请。</p>
			<p> 2.您同意并确认，基于运行和交易安全的需要，快贝分期可以暂时停止提供、限制或改变快贝服务的部分功能，或提供新的功能。在任何功能减少、增加或者变化时，只要您仍然使用快贝的服务，表示您仍然同意本协议或者变更后的协议。</p>
			<p> 3.您同意并确认，您在快贝按快贝分期服务流程所确认的交易状态将成为快贝为您进行相关交易或操作（包括但不限于冻结资金、代为支付或收取款项、订立合同等）的明确指令。您同意快贝有权按相关指令依据本协议和/或有关文件和规则对相关事项进行处理。</p>
			<p>4.如您未能及时对交易状态进行修改或确认或未能提交相关申请所引起的任何纠纷或损失由您本人负责，快贝不承担任何责任。</p>
			<p>5.除非本协议另有其它明确规定，快贝推出的新产品、新功能、新服务，均受到本协议的规范。</p>

			<h5 class="font-13"><strong>四、服务使用规范</strong></h5>
			<p> 1.快贝为您提供各类消费分期金融服务。您应认真仔细阅读并了解消费分期产品的内容及使用规则，独立判断以决定是否办理消费分期。因您未能了解消费贷款产品而产生的纠纷，快贝不承担任何责任。</p>
			<p>2. 您在注册时向快贝提交的账户、密码是您在快贝平台的唯一识别信息。您确认，无论是您本人或是以您名义使用您的用户名和密码登陆所进行的一切活动均代表您本人的意思并由您承担相应的法律后果。</p>
			<p>3.您可以在注册成功后，向快贝发起借款申请并提交相应的资料，快贝将根据相关风险控制标准独立进行审核，对符合条件的用户给与一定的分期额度。您可以使用分期额度进行购物消费，您使用分期额度还须遵守快贝具体的业务规则和相关政策。</p>
			<p>4.您保证并承诺向快贝分期平台申请的借款款项的用途是正规合法的，并且符合您在贷款申请、签署《个人消费贷款合同》时所注明的贷款用途，不得挪用贷款。</p>
			<p>5.您同意并确认，您在快贝分期平台上按快贝分期流程所确认的状态，将成为快贝为您进行相关操作（包括但不限于收取款项、冻结资金、签订合同等）的不可撤销的指令。您同意相关指令的执行时间以快贝在系统中进行实际操作的时间为准。您同意快贝有权依据本协议或快贝相关纠纷处理规则等约定对相关事项进行处理。</p>
			<p>6.您未能及时对贷款状态进行修改、确认或未能提交相关申请所引起的任何纠纷或损失由您自行负责，快贝不承担任何责任。</p>
			<p>7.如果快贝发现了因系统故障或其他任何原因导致的处理错误，无论有利于快贝还是有利于用户，快贝都有权纠正该错误。</p>
			<p>8.快贝将对您在快贝分期平台的所有操作进行记录，不论该操作之目的最终是否实现。您可以通过账户实时查询账户名下的贷款记录。</p>
			<p>9.您应按照快贝分期平台规定的流程提交以您本人名义登记的有效银行借记卡等信息，经快贝审核通过后，快贝会将用户的账户与前述银行账户进行绑定。如用户未按照快贝规定提交相关信息或提交的信息错误、虚假、过时或不完整，或者快贝有合理的理由怀疑用户提交的信息为错误、虚假、过时或不完整，快贝有权拒绝为用户提供银行卡认证服务，因此而产生的损失由用户本人自行承担。</p>
			<p>10.在快贝分期平台交易需订立的合同采用电子合同方式。您使用账户登录快贝分期平台后，根据快贝的相关规则，以您账户在快贝分期平台通过点击确认或类似方式签署的电子合同即视为根据您本人真实意愿并以您本人名义签署的合同，具有法律效力。</p>
			<p>11、如您对电子合同真伪或电子合同的内容有任何疑问或产生任何争议，快贝分期将提供协助查阅电子合同。</p>

			<h5 class="font-13"><strong>五、 用户信息披露及保护</strong></h5>
			<p> 1.您同意快贝在提供本服务过程中收集和储存您的用户信息，包括但不限于您自行提供的资料和信息，以及快贝自行收集、取得的您在接受本服务的浏览、交易记录等。</p>
			<p>2.您同意无论快贝最终是否向您发放贷款，您向快贝提交的申请资料以及快贝查询获取的您的个人征信等信息资料均不予退还，但是，快贝应当根据相关规定妥善保存并在您的授权范围内使用您的个人信息、个人征信信息以及其他相关信息资料。</p>
			<p>3.出于向您提供消费贷款及相关服务之目的（包括但不限于贷款申请的处理、各阶段的贷款管理、账户及付款管理、双方权利的保护及执行等），向快贝的关联公司、合作伙伴及其他合法来源查询并获取您的个人相关信息（包括但不限于本人身份信息、信用信息、社会保险及公积金相关信息等）。</p>
			<p>4.您同意本网站可以自行或通过合作的第三方机构对您提交或本网站搜集的用户信息（包括但不限于您的个人身份证信息等）进行核实，并对获得的核实结果根据本协议及有关文件进行查看、使用和留存等操作。</p>
			<p> 5.本网站按照您在本网站上的行为自动追踪关于您的某些资料。本网站利用这些资料进行有关本网站之用户的统计、兴趣及行为的内部研究，以便向您和本网站的其他用户提供更好的服务。</p>
			<p>6.如果您将个人通讯信息（例如：手机短信、电邮或信件）交付给本网站，或如果其他用户或第三方向本网站发出关于您在本网站上的活动或登录事项的通讯信息，本网站可以将这些资料收集在您的专5.2 </p>
			<p>7.您同意快贝可使用关于您的个人资料（包括但不限于快贝持有的有关您的档案中的资料，及快贝从您目前及以前在快贝上的活动所获取的其他资料）以解决争议、对纠纷进行调停、确保在快贝进行安全交易，并执行快贝的服务协议及相关规则。快贝有时候可能调查多个用户以识别问题或解决争议，特别是快贝可审查您的资料以区分使用多个用户名或别名的用户。为限制在网站上的欺诈、非法或其他刑事犯罪活动，使您、其他用户和/或快贝免受其害，您同意快贝可通过人工或自动程序对您的个人资料进行评价。</p>
			<p>8.您同意快贝可以使用您的个人资料以改进快贝的推广和促销工作、分析网站的使用率、改善快贝的内容和产品推广形式，并使快贝的内容、设计和服务更能符合用户的要求。这些使用能改善快贝的网页，以调整快贝的网页使其更能符合您的需求，从而使您在使用快贝分期服务时得到更为顺利、有效、安全及量身打造的交易体验。</p>
			<p>9.出于向您提供消费分期及相关服务之目的，提供您个人相关信息和分期信息给快贝的关联公司以及合作伙伴；将部分与本合同有关的服务外包给快贝的业务合作伙伴，并为履行该服务外包合同之目的将您的相关个人信息和相关分期信息提供给该业务合作伙伴；快贝分期推荐产品时可以使用您的个人信息，推荐的方式包括但不限于向您通信地址、电子邮箱、移动电话、微信等发送产品信息。</p>
			<p>10.您同意快贝利用您的资料与您联络并（在某些情况下）向您传递针对您的兴趣而提供的信息，例如：有针对性的产品信息、行政管理方面的通知、产品提供以及有关您使用快贝的通讯。您接受本协议即视为您同意收取这些资料。</p>
			<p>11.快贝对于您提供的、自行收集到的、经认证的个人信息将按照本协议及有关规则予以保护、使用或者披露。快贝将采用符合行业标准和惯例的措施保护您的个人资料。</p>
			<p>12.快贝有义务根据有关法律要求向司法机关和政府部门提供您的个人资料。在您未能按照有关协议、快贝有关规则履行义务时，快贝有权根据自己的判断、有关协议和规则、国家生效裁决文书披露您的个人资料（包括但不限于在快贝及任何形式的媒体上公 布您的违法、违约行为，并将该内容记入任何与您相关的信用资料、档案或数据库），并且作为快贝的马上可以采取发布您的个人信息的方式追索债权或按照司法部门要求提供相关资料，快贝对此不承担任何责任。</p>
			<p>13.在快贝提供的交易活动中，您无权要求快贝提供其他用户的个人资料。</p>

			<h5 class="font-13"><strong>六、 使用限制</strong></h5>
			<p>1.您承诺合法使用快贝提供的服务及网站内容。您不得利用本服务从事侵害他人合法权益之行为，不得在快贝从事任何可能违反中国的法律、法规、规章和政府规范性文件的行为或者任何未经授权的行为，如擅自进入快贝的未公开的系统、不正当的使用账号密码和网站的任何内容等。</p>
			<p>2.您不得使用快贝提供的服务或其他电子邮件转发垃圾邮件或其他可能违反本协议的内容。</p>
			<p>3.快贝没有义务监测网站内容，但是您确认并同意快贝有权不时地根据法律、法规、政府要求透露、修改或者删除必要的信息，以便更好地运营快贝并保护自身及快贝的其他合法用户的权益。</p>
			<p>4.快贝中全部内容的版权均属于快贝分期所有，该等内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部信息（以下称“网站内容”）。网站内容受中华人民共和国著作权法及国际版权公约的保护。未经快贝事先书面同意，您承诺不以任何方式、不以任何形式复制、模仿、传播、出版、公布、展示网站内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。未经快贝书面同意，您亦不得将快贝包含的资料等任何内容镜像到任何其他网站或者服务器。任何未经授权对网站内容的使用均属于违法行为，快贝将保留追究侵权人法律责任的权利。</p>

			<h5 class="font-13"><strong>七、 免责条款</strong></h5>
			<p>1.本服务内容可能涉及或链接到由第三方所有、控制或者运营的其他网站（“第三方网站”）。快贝分期不能保证也没有义务保证第三方网站上的信息的真实性和有效性。您确认按照第三方网站的相关服务协议而非本协议使用第三方网站，第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险。</p>
			<p>2.因您自身的原因导致的任何损失或责任，由您自行负责，快贝不承担责任。</p>
			<p>3.快贝系统因下列状况无法正常运作，使您无法使用各项服务时，快贝不承担损害赔偿责任，该状况包括但不限于：（1）本公司在本网站公告之系统停机维护期间；（2）电信设备出现故障不能进行数据传输的；（3）因台风、地震、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本公司系统故障无法执行业务的；（4）由于黑客攻击、电信部门技术调整或故障、网站升级等原因造成的服务中断或者延迟。</p>

			<h5 class="font-13"><strong>八、违约责任</strong></h5>
			<p>1.如果您违反了您在本协议中所作的陈述、保证、承诺或任何其他义务，致使快贝承受任何损失，您赔偿快贝分期的相关损失。</p>
			<p>2.如果由于您违反本协议或任何法律、法规而侵害第三方的权利，引起第三方对快贝分期提出的任何形式的索赔、要求、诉讼，快贝有权向您追偿相关损失。</p>
			<p>3.本协议项下的相关损失包括但不限于快贝分期发生、实际损失及向第三方支付的补偿金、诉讼费、公证费、律师费、差旅费等。</p>

			<h5 class="font-13"><strong>九、协议终止及账户的暂停、注销或终止</strong></h5>
			<p>1.除非快贝终止本协议或者您申请终止本协议且经快贝同意，否则本协议始终有效。在您违反了本协议、相关规则，或在相关法律法规、政府部门的要求下，快贝有权通过站内信、电子邮件通知等方式终止本协议、关闭您的账户或者限制您使用快贝分期。但快贝的终止行为不能免除您根据本协议或在快贝签订的其他协议项下的还未履行完毕的义务。</p>
			<p>2.您决定不再使用用户账户时，应首先清偿所有应付款项（包括但不限于借款本金、利息、罚息、违约金、服务费、管理费等），并向快贝申请注销该用户账户，经快贝审核同意后可正式注销用户账户。会员死亡或被宣告死亡的，其在本协议项下的各项权利义务由其继承人依法承担。若会员丧失全部或部分民事行为能力，快贝有权根据有效法律文书（包括但不限于生效的法院判决等）或其法定监护人的指示处置与用户账户相关的款项。</p>
			<p>3.快贝有权基于单方独立判断，在认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务，并将注册资料移除或删除，且无需对您或任何第三方承担任何责任。前述情形包括但不限于：</p>
			<ul>
				<li>（1） 快贝认为您提供的个人资料不具有真实性、有效性或完整性；</li>
				<li>（2） 快贝发现异常交易或有疑义或有违法之虞时；</li>
				<li>（3） 快贝认为您的账户涉嫌洗钱、套现、传销、被冒用或其他快贝分期认为有风险之情形；</li>
				<li>（4） 快贝认为您已经违反本协议中规定的各类规则及精神；</li>
				<li>（5） 快贝基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务，并将注册资料移除或删除的其他情形。</li>
			</ul>

			<h5 class="font-13"><strong>十、 适用法律和管辖</strong></h5>
			<p>因快贝所提供服务而产生的争议均适用中华人民共和国法律，并由快贝住所地的人民法院管辖。</p>

			<h5 class="font-13"><strong>十一、 其他</strong></h5>
			<p>1.您同意在此之后申请快贝的任何一款产品时，以电子数据形式提交、确认或签署任何法律性文件的方式及其法律效力，且认可快贝电子数据的有效性和证据效力。快贝相关系统所生成和保留记载的相关电子数据及交易记录，以及快贝制作或保留的相关电子及纸质单据、凭证、记录等相关资料，均构成有效证明合同双方之间权利义务关系的确定证据。</p>
			<p>2.本协议及快贝有关页面的相关名词可互相引用参照，如您有不同理解，则以本协议条款为准。此外，若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。</p>
			<p>3.快贝对本协议具有最终解释权。</p>

		</div>

	</ion-content>

</ion-nav-view>