body{font-family: "微软雅黑"}
h1,h2,h3,h4,h5{    font-family: "微软雅黑";}
.font-16{font-size: 1.28rem}
.font-15{font-size: 1.18rem}
.font-14{font-size: 1.08rem}
.font-13{font-size: 0.95rem}
.font-12{font-size: 0.8rem}
input::-ms-input-placeholder{text-align: center;}
input::-webkit-input-placeholder{text-align: center;}
.p-5{padding:5px 0;}
input:-webkit-autofill {  
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;  
}
.bule{color: #387ef5}
.gray{color: #ccc}
.yellow{color:#f3bb69; }
.zi{color: #766BE8}
.green{color: #3EB742}

.bg-gray{background: #f2f2f2;}
.bg-white{background: #fff;}
.bg-line{background-image: linear-gradient(-90deg, #154676  0%,#2275C6 100%);}

.border-t{border-top: 1px solid #eee;}
.mt-1{margin-top: 1rem;}
.pt-s{padding-top: 0.8rem;}
.p-5{padding-top: 0.2rem;padding-bottom: 0.6rem}
.p-all{padding: 1rem}
.p-all table{border-top: 1px solid #ccc;border-left: 1px solid #ccc;}
.p-all table th,.p-all table td{border-right: 1px solid #ccc;padding: 8px 0;border-bottom: 1px solid #ccc;}
.border-r{border-radius: 4px}
.btn-r{
    border-radius: 4rem;
	width: 38%;
}
.clearfix{    clear: both;}
.line{
	    padding: 0.6rem;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.1rem;
        text-align: center;
}
.block-l{display: inline-block;}
.yzm button{
	position: absolute;
	right: 0;
	height: 100%;
	padding: 0 1rem;
	border: none;
	background: #2275C6;
	color: #fff
}
.a_h{padding: 0 1rem;text-align: right;}
.item{border-color:#eee;}
.btn{padding:4%;box-sizing: border-box;}
.btn button{width: 100%;margin: 0 auto;display: block;}
.yanz{position: relative;}
.yanz button{position: absolute;right: 1rem;top:0.6rem;    z-index: 9;}
.v-m{vertical-align:middle}
.float-r{float: right}
.float-l{float: left;}
a{text-decoration: none;color: #777}
.bar-light i{font-size: 1.8rem;padding:0 0.5rem;line-height: 34px;}

.tabs-top > .tabs{
	padding:0;
	top:0px;
}

.order.tabs-top > .tabs{
	padding:0;
	top:44px;
}
.notips{text-align: center;
    margin-top: 4rem;}
 .text-r{ text-align: right;}
 .text-c{ text-align: center;}

/*user*/
.user .item-avatar{position: relative;}
.user .item-avatar i{position: absolute;    right: 0.5rem;
    top: 1.8rem;}
 .user h2{    font-size: 1rem;}
.border-t .col{padding:12px 0;color: #000}
.user .font-16, .user .font-16{font-size:1.4rem;width: 1rem;}

.user h2 span{    font-size: 0.3rem;
    /*padding: 0.1rem 0.2rem;*/
    border: 1px solid #f3bb69;
    margin-left: 0.5rem;}
.user img.item-note{    max-width: 40px;
    height: 40px;
    border-radius: 100%;}
.info_itme{display:inline-block;}
.info_itme i{float: right;margin-top: 1rem;}

.reput h3{text-align: center;padding-top: 1rem;margin-bottom: 0.2rem;}
.reput p{text-align: center;}
.reput .row .col{text-align: center;padding-bottom: 0;}
.reput .row .col img{border-radius: 100%;}
.reput .row .col span{color: #999;}
.step{margin-top: 1rem;margin-bottom: 0.5rem}
.step .col{text-align: center;padding-top: 0;padding-left: 0;padding-right: 0;position: relative;}
.step span{
	background: #999999;
	padding: 2px 7px;
    border-radius: 100%;
    color: #fff;}
.step i{
	background: #999999;
    display: inline-block;
    height: 1px;
    width: 18%;
    margin-top: 8px;
    position: absolute;
    right: 0
}
.step i.float-l{left: 0}
.step .green_step {background: #387ef5}

/*关于我们*/
.us .mask{position: relative;margin-bottom: 1rem}
.us p{
	margin: 0 0.6rem 5px;
    text-indent: 2rem;
    color: #666;
    line-height: 1.4rem;
    letter-spacing: 1px;
}
.us h1{
	color: #fff;
	position: absolute;
	top: 3rem;
	text-align: center;
	width: 100%;
	font-size: 1.6rem
}
.us h5{
	color: #fff;
	position: absolute;
	top: 3rem;
	text-align: center;
	width: 100%;
	font-size: .8rem
}
.us .gs{color: #666;margin: 5px 0.6rem 0;}
.us .gs:last-child{margin-bottom: 2rem}

/*消息中心*/
.tips{text-align: center;}
.tips .time{
	font-size: 0.5rem;
	display: inline-block;
	padding: 4px;
	color: white;
	border-radius: 4px;
	background: #ccc;
	margin-top: 1rem
}
.bar-light .button.button-clear{font-size: 0.8rem}
.tips .list:last-child.card{margin-bottom:0;}
.tips .card{margin-top: 0.8rem;text-align: left;}
.help .item{border:none;border-top: 1px solid #eee}
.tip_list .item-divider{
	    background-image:linear-gradient(-90deg, #154676  0%,#2275C6 100%);
    color: #fff;
}

/*银行卡*/
.bank .item-complex .item-content{padding: 0;}
.bank .font-16{vertical-align:text-bottom}
.bankImg{
	max-width: 45px;
	max-height: 45px;
	height: 100%;
	display: block;
	margin:0 auto;
}
.bank .ion-checkmark-circled{
	margin-top: 0.5rem;
    display: block;
    float: right;
    margin-right: 15px;
    font-size: 1.7rem;
}
.ckbox .checkbox input,.ckbox .checkbox-icon{    width: 18px;height: 18px;}
.ckbox  .checkbox input:after,.ckbox .checkbox-icon:after{     width: 10px;top: 29%;}
.ckbox  .item-checkbox .checkbox{    margin-top: -16px;    left: 12px;}
.login  .ckbox .item{border: none;}
.login .ckbox{    margin-top: -1rem;    position: relative;}
.login .ckbox a{
	position: absolute;
    left: 8.5rem;
    top: 1rem;
    z-index: 9;
}
.audit  .ckbox .item{border: none;}
.audit .ckbox{    margin-top: -1rem;    position: relative;}
.audit .ckbox a{
	position: absolute;
    left: 8.5rem;
    top: 1rem;
    z-index: 9;
}
/*借款*/
/*// .order .tab-nav{margin-top:2.7rem;}*/
.order .has-header{top: 3rem;	}
.order .button.button-positive{font-size: 0.95rem;}
.loan{margin-top: 0.8rem;}
.loan .item-divider{background: #fff;padding-top: 0.8rem;padding-bottom: 0.8rem }
.loan ul{border-radius: 5px;border:1px solid #eee;padding:0.3rem 0.5rem;margin-top: 0.8rem;}
.loan ul li{padding:0.3rem;font-size: 0.95rem;}

/*商家*/
.seller .border-r{
	background: #ffefb6;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    color: #e8b805;
    margin-bottom: 0;
}
.seller .tag{margin: 0.6rem 0;}
.seller .tag span{
	/*display: inline-block;*/
    font-size: 0.5rem;
    border: 1px solid #e8b805;
    margin-right: 0.5rem;
    border-radius: 5px;
    padding: 1px 0.3rem;
    color: #e8b805
}
.seller-deata .head_top{
	text-align: center;
	background: #fff;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
}
.seller-deata .head_top img{max-height: 10rem}
.seller-deata .head_top h2{    margin-top: 0.5rem;}
.seller-deata .bg-white{padding: 1rem;}
.seller-deata .bg-white h4{text-align: center;margin-bottom:0.5rem;}
/*首页*/
.index .col{padding-bottom:1rem;padding-top:1rem }
.index .col p{line-height: 1;margin-bottom: 0}
.index .list{margin-bottom: 0.5rem}
.credit{
	background-image: linear-gradient(-90deg, #154676  0%,#2275C6 100%);
	color: #fff;
	text-align: center;
}
.credit{padding: 1.3rem 0}
.credit h3{
	    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.4rem;
    letter-spacing: 0.1rem;
}
.credit h1{
	    font-size: 2rem;
    margin: 0.2rem 0 0.2rem;
    color: #F6A600;
}
.credit p{
	font-size: 0.8rem;
    margin-bottom: 1.3rem;
}
.list .btn-r{    font-size: 0.9rem;line-height: 2rem;}
 .bar-light .right{line-height: 2.4;margin-right: 0.5rem}

.bg-line {letter-spacing: 0.1rem;color: #fff;padding:1rem}
.bg-line h3{color: #fff;font-size: 0.8rem;}
.bg-line h1{color: #fff;text-align: center;}
.bg-line p{font-size: 0.5rem;margin: 0;}
.range{padding: 0}
.range input{margin: 0;}
.plan-title{margin:0;padding: 0.5rem 1rem;}
.plan{padding: 1em;}
.plan li{border: 2px solid #ddd;padding:0.8rem 0.5rem;box-sizing: border-box;margin-bottom: 0.5rem}
.plan li.on{border: 2px solid #F6A600;position: relative;}
.plan li.on:after{
	content: '';
	display:inline-block;
	width: 24px;
	height:24px;
	top: 0;
	right: 0;
	position: absolute;
	background: url("../../img/jiao.png") no-repeat center / 24px;
}
.plan .float-l{width: 25%;    padding: 0.5rem 0;text-align: center; border-right: 1px solid #ddd;}
.plan .float-l span{font-size: 1.5rem}
.plan .float-r{width: 75%;    padding: 0 0 0 1rem;}
.plan .float-r p,.plan .float-r span{    font-size: 0.6rem;color: #999;}
.plan .float-r h3,.plan .float-r p{margin: 0}
/*上传图片*/

.upimg p{margin:0;padding:10px; }
.upimg span{display: inline-block;    padding: 1rem 0;}
.upimg .button{width: 90%;margin:0 5% 15px;border: 1px dashed #ccc;}
.upimg img{margin-top:1rem;}

.togglebox .tog{position: relative;;width: 33.33%;display: inline-block;}
.togglebox .tog .toggle{    margin:-17px -11px;    line-height: 0.42857;}
.togglebox .tog .track{    width: 44px;height: 23px;}
.togglebox .tog .handle{    width: 20px;height: 19px;}
.picbox{padding: 0 1rem 1rem;}
.picbox .img-row{    padding: 1rem 1rem 0 1rem;}
.picbox .text-row{text-align: center;}
/*.qtzl{padding: 1rem;clear: both;}
.qtzl .img-row{width: 120px;height: 120px;border: 1px solid #eee;padding:0;margin:3%; float: left}*/
.note_text .item-note{display: inline-block;    width: 59.2%;  color: #444;}
.note_text  .ionic-citypicker .item-note{width: 64%}
.note_text  .ionic-citypicker .item-note:after{
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 12px;
  width: 12px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  position: absolute;
  right: 1.6rem;
      top: 1.2rem;
}
.sj .button.button-positive.button-clear{    width: 59%;font-size: 0.9rem;color: #666;}
.bank_tips{margin-bottom: 0;color: #999;padding: 0.5rem}
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}
/*加载更多*/
.more_load{
	 height: 24px !important;;
    text-align: center !important;;
}
.more_load .spinner svg{
	width: 6% !important;
    height: 24px !important;

}
.ipublur{    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    border: none;
    background: transparent;
    width: 100%;}

/*审核失败*/
.audit_img{
	width: 200px;
	height: 200px;
	margin:50px auto 0;
	background: url("../../img/bg.png") center 100%;
}
.audit_img span{
	width: 100%;
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	margin-top: 90px;
	display: inline-block;
}
.audit h3{
	text-align: center;
	font-size: 1rem;
	width: 80%;
	margin:20px auto;
	color: #ea8425
}

/*提交图片*/
.piclist {padding:1rem; }
.piclist li{
	width: 102px;
	height: 102px;
	border: 1px solid #eee;
	float: left;
	margin: 6px;
	background: url("../../img/tj.png") center center no-repeat / 25%;
}
.picbox .img-row .has_img{height: 135px}
@media screen and (min-width: 414px)  {
.piclist li{
	width: 110px;
	height: 110px;
	margin:8px;
}
.picbox .img-row .has_img{height: 150px}
}
@media screen and (max-device-width: 320px) {
.piclist li{
	width: 85px;
	height: 85px;
	margin: 5px;
}
.picbox .img-row .has_img{height: 105px}
}
@media screen and (min-device-width: 321px) and (max-device-width: 374px){
.piclist li{
	width: 100px;
	height: 100px;
	margin: 4.5px;
}
.picbox .img-row .has_img{height: 120px}
}
@media screen and (min-device-width: 480px) {
.piclist li{
	width: 132px;
	height: 132px;
	margin: 8px;
}
.picbox .img-row .has_img{height: 185px}
}
.button{
	min-width: 52px;
    min-height: 36px;
    line-height: 38px;
}
.button.button-positive.button-outline {
    background: #fff;
    color: #0D488F;
    border-color:transparent;
}
.button.button-positive{
	border: none;
    background: linear-gradient(90deg, #2275C6 0%, #154676 100%);
    color: #fff;
}
ion-tabs.tabs-color-active-positive .tab-item.activated, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.tab-item-active{    color: #0D488F;}
.tab-item .icon {
    display: block;
    margin: 0 auto;
    margin-top: 3px;
    height: 28px;
    font-size: 28px;
}
.slider-pager .slider-pager-page{
    display: inline-block;
    margin: 0 5px;
    width: 5px;
    color: #0D488F;
    text-decoration: none;
    opacity: .3;
}
.slider-pager {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    width: 100%;
    height: 5px;
    text-align: center;
}
.button-small {
    padding: 2px 4px 1px;
    min-width: 28px;
    min-height: 30px;
    font-size: 12px;
    line-height: 26px;
}
.toggle.toggle-balanced input:checked+.track {
    border: #154676;
    background: linear-gradient(90deg,#2275C6 0,#154676 100%);
}


