<ion-view view-title="快贝分期" can-swipe-back="false" cache-view="false">
	<ion-header-bar align-title="center" class="bar-light">
		<h2 class="title">快贝分期</h2>
	</ion-header-bar>
	<ion-content class="bg-gray index">
		<div class="content_box">
			<div class="row bg-white">
				<a class="tab-item col mTop-7" ng-href="#/myBorrowing">
					<img src="../img/1.png" alt="" width="60%">
					<p>一键还款</p>
				</a>
				<!--ng-href="#/invitecodepage"-->
				<!--#/zscounselor-->
				<!--#/zsaward"-->
				<a class="tab-item col mTop-7" href="javascript:void(0);" ng-click="gotozsmore()">
					<img src="../img/2.png" alt="" width="60%">
					<p>专属邀请码</p>
				</a>
				<!--ng-href="#/activityRegister"-->
				<!--ng-href="#/qrcodeRegister"-->
				<a class="tab-item col mTop-7" href="javascript:void(0);">
					<img src="../img/3.png" alt="" width="60%">
					<p>热门活动</p>
				</a>
			</div>

			<div class="credit">
				<h3>授信额度</h3>
				<!--50000.00-->
				<h1>￥{{youLimit}}</h1>
				<!--ng-if="applyfor"-->
				<p ng-if="Limitlist.totalLimit == '0.00'">您的额度还没有申请完成</p>
				<p ng-if="Limitlist.totalLimit != '0.00'">可用额度￥{{Limitlist.leftLimit}} &nbsp &nbsp &nbsp 已用额度￥{{Limitlist.usedLimit}}</p>
				<!--<a class="button button-positive button-outline btn-r" ng-click="go_details(products[0].id,products[0].maxAmount,products[0].minAmount,products[0].defaultAmount)">立即激活</a>-->
				<a class="button button-positive button-outline btn-r" ng-click="go_activate()">{{Limitbtntext}}</a>
			</div>

			<div class="line">推荐产品</div>

			<div class="list" ng-repeat="product in products">
				<div class="item item-avatar">
					<img src="../img/4.png" width="100%">
					<div class="block-l">
						<h2>{{product.name}}</h2>
						<p><span class="yellow">{{product.applyCount}}</span>人申请</p>
					</div>
					<button class="item-note button button-positive btn-r" ng-click="go_details(product.id,product.maxAmount,product.minAmount,product.defaultAmount)">立即申请</button>
				</div>
			</div>

			<!--<ion-slide-box class="slide" auto-play="true" does-continue="true" show-pager="true" style="height: 130px; width: 100%;">-->
			<!--　　<ion-slide ng-repeat="productImage in productImages">-->
			<!--<img ng-src="{{:: productImage.path}}" width="100%" height="130">-->
			<!--　　</ion-slide>-->
			<!--</ion-slide-box>-->
			<ion-slide-box auto-play="true" slide-interval=3000 does-continue="true" delegate-handle="slideimgs" class="slidebox">
				<ion-slide ng-repeat="productImage in productImages">
					<div class="box banner"><img class="shuffling" ng-src="{{productImage.path}}" /></div>
				</ion-slide>
			</ion-slide-box>

			<div class="list homeRedPop" ng-click="joinactivity()" ng-if="subactivity">

				<!--<img src="img/new/Aalertfoot2.png" style="width: 70%;height: 60px;margin-top: 100px;">-->
				<div class="popBackImg">
					<ion-scroll class="scroll">

						<!--ng-repeat=" y in allyiuhuiq"-->
						<!--{{y.yiuhuiqtext}}-->
						<div ng-repeat=" y in allyiuhuiq">
							<img src="img/new/Aalertbody2.png" class="homePopImg">
							<p class="redP">
								<a class="offsetMoney">￥{{y.offsetMoney }}</a>
								<a class="specJsonF">{{y.name }}</a><br>
								<a class="numlist specJsonF">{{y.specJsonF.key3}}</a>
							</p>
						</div>
					</ion-scroll>
				</div>
				<img src="img/new/Aalerttou2.png " class="imgbtn">

			</div>

		</div>
	</ion-content>
</ion-view>