 <ion-nav-view class="audit"  can-swipe-back="false">
    	<ion-header-bar align-title="center" class="bar-light">
        <i class="ion-ios-arrow-thin-left bule" ng-click="myBack('tab.personal','true')"></i>
        <h2 class="title">审核结果</h2>
    </ion-header-bar>

	<ion-content has-tabs="true" >
		<div class="audit_img">
			<span ng-if="audit.orderStatus==3">审核失败</span>
			<span ng-if="audit.orderStatus==12">审核成功</span>
		</div>
		<h3>{{audit.orderStatusText}}</h3>
		<div class="ckbox" ng-if="audit.orderStatus==12">
			<ion-checkbox ng-model="ac.isChecked1" class="font-12" >已阅读并同意</ion-checkbox><a ng-click="pdfurl(1)">《购销及保理融资协议》</a>
		</div>
		<div class="ckbox" ng-if="audit.orderStatus==12">
					<ion-checkbox ng-model="ac.isChecked2" class="font-12" >已阅读并同意</ion-checkbox><a ng-click="pdfurl(2)">《授权书》</a>
				</div>
		<p class="btn">
			<button class="button button-positive "  ng-click="#/index" ng-if="audit.orderStatus==3">重新申请</button>
			<button class="button button-positive "  ng-click="goNext()" ng-if="audit.orderStatus==12">立即使用</button>
		</p>	

	</ion-content>

 </ion-nav-view>